     body{
     background-color:green;
     text-align: left;
     
      }
     
     
     
      footer{
      	color:yellow;
      }
      
     main-header{
     	color:red;
     }

    
    
      
     
  
 
   

 
  h1 {
  	line-height: 1.3;
    text-decoration: italic
   
   }

  .location{
  	border-size:20px
  	margin-30px
  
  }
   
 
   	
  
   	
     
  
  
   
   
   
   

   	
  
  
   
   
   
   
   

   
 
 
 
  
 
   
    
  
    
